<!-- Theme Settings -->
<div class="offcanvas offcanvas-end overflow-hidden" id="theme-settings-offcanvas" tabindex="-1">
    <div class="d-flex justify-content-between text-bg-primary gap-2 p-3"
         style="background-image: url('/static/images/user-bg-pattern.png');">
        <div>
            <h5 class="mb-1 fw-bold text-white text-uppercase">Admin Customizer</h5>
            <p class="text-white text-opacity-75 fst-italic fw-medium mb-0">Easily configure layout, styles, and preferences for your admin interface.</p>
        </div>
        <div class="flex-grow-0">
            <button type="button" class="d-block btn btn-sm bg-white bg-opacity-25 text-white rounded-circle btn-icon"
                    data-bs-dismiss="offcanvas">
                <i class="fs-lg" data-lucide="x"></i>
            </button>
        </div>
    </div>

    <div class="offcanvas-body theme-customizer-bar p-0 h-100" data-simplebar="">
        <!-- Select Theme -->
        <div class="p-3 border-bottom border-dashed" id="skin">
            <h5 class="mb-3 fw-bold">Select Theme</h5>
            <div class="row g-3">
                <div class="col-6" id="skin-default">
                    <div class="form-check card-radio">
                        <input class="form-check-input" id="demo-skin-default" name="data-skin" type="radio" value="default"/>
                        <label class="form-check-label p-0 w-100" for="demo-skin-default">
                            <img alt="Default" class="img-fluid" src="{{ config.ASSETS_ROOT }}/images/layouts/skin-default.png"/>
                        </label>
                    </div>
                    <h5 class="text-center text-muted mt-2 mb-0">Default</h5>
                </div>
                <div class="col-6" id="skin-galaxy">
                    <div class="form-check card-radio">
                        <input class="form-check-input" id="demo-skin-galaxy" name="data-skin" type="radio" value="galaxy"/>
                        <label class="form-check-label p-0 w-100" for="demo-skin-galaxy">
                            <img alt="Galaxy" class="img-fluid" src="{{ config.ASSETS_ROOT }}/images/layouts/skin-galaxy.png"/>
                        </label>
                    </div>
                    <h5 class="text-center text-muted mt-2 mb-0">Galaxy</h5>
                </div>
            </div>
        </div>

        <!-- Color Scheme -->
        <div class="p-3 border-bottom border-dashed" id="theme">
            <h5 class="mb-3 fw-bold">Color Scheme</h5>
            <div class="row g-3">
                <div class="col-4" id="theme-light">
                    <div class="form-check card-radio">
                        <input class="form-check-input" id="layout-color-light" name="data-bs-theme" type="radio" value="light"/>
                        <label class="form-check-label p-0 w-100" for="layout-color-light">
                            <img alt="Light" class="img-fluid" src="{{ config.ASSETS_ROOT }}/images/layouts/theme-light.png"/>
                        </label>
                    </div>
                    <h5 class="text-center text-muted mt-2 mb-0">Light</h5>
                </div>
                <div class="col-4" id="theme-dark">
                    <div class="form-check card-radio">
                        <input class="form-check-input" id="layout-color-dark" name="data-bs-theme" type="radio" value="dark"/>
                        <label class="form-check-label p-0 w-100" for="layout-color-dark">
                            <img alt="Dark" class="img-fluid" src="{{ config.ASSETS_ROOT }}/images/layouts/theme-dark.png"/>
                        </label>
                    </div>
                    <h5 class="text-center text-muted mt-2 mb-0">Dark</h5>
                </div>
                <div class="col-4" id="theme-system">
                    <div class="form-check card-radio">
                        <input class="form-check-input" id="layout-color-system" name="data-bs-theme" type="radio" value="system"/>
                        <label class="form-check-label p-0 w-100" for="layout-color-system">
                            <img alt="System" class="img-fluid" src="{{ config.ASSETS_ROOT }}/images/layouts/theme-system.png"/>
                        </label>
                    </div>
                    <h5 class="text-center text-muted mt-2 mb-0">System</h5>
                </div>
            </div>
        </div>

        <!-- Topbar Color -->
        <div class="p-3 border-bottom border-dashed" id="topbar-color">
            <h5 class="mb-3 fw-bold">Topbar Color</h5>
            <div class="row g-3">
                <div class="col-4" id="topbar-color-light">
                    <div class="form-check card-radio">
                        <input class="form-check-input" id="layout-topbar-color-light" name="data-topbar-color" type="radio" value="light"/>
                        <label class="form-check-label p-0 w-100" for="layout-topbar-color-light">
                            <img alt="Light" class="img-fluid" src="{{ config.ASSETS_ROOT }}/images/layouts/topbar-color-light.png"/>
                        </label>
                    </div>
                    <h5 class="text-center text-muted mt-2 mb-0">Light</h5>
                </div>
                <div class="col-4" id="topbar-color-dark">
                    <div class="form-check card-radio">
                        <input class="form-check-input" id="layout-topbar-color-dark" name="data-topbar-color" type="radio" value="dark"/>
                        <label class="form-check-label p-0 w-100" for="layout-topbar-color-dark">
                            <img alt="Dark" class="img-fluid" src="{{ config.ASSETS_ROOT }}/images/layouts/topbar-color-dark.png"/>
                        </label>
                    </div>
                    <h5 class="fs-sm text-center text-muted mt-2 mb-0">Dark</h5>
                </div>
                <div class="col-4" id="topbar-color-gray">
                    <div class="form-check card-radio">
                        <input class="form-check-input" id="layout-topbar-color-gray" name="data-topbar-color" type="radio" value="gray"/>
                        <label class="form-check-label p-0 w-100" for="layout-topbar-color-gray">
                            <img alt="Gray" class="img-fluid" src="{{ config.ASSETS_ROOT }}/images/layouts/topbar-color-gray.png"/>
                        </label>
                    </div>
                    <h5 class="fs-sm text-center text-muted mt-2 mb-0">Gray</h5>
                </div>
                <div class="col-4" id="topbar-color-gradient">
                    <div class="form-check card-radio">
                        <input class="form-check-input" id="layout-topbar-color-gradient" name="data-topbar-color" type="radio" value="gradient"/>
                        <label class="form-check-label p-0 w-100" for="layout-topbar-color-gradient">
                            <img alt="Gradient" class="img-fluid" src="{{ config.ASSETS_ROOT }}/images/layouts/topbar-color-gradient.png"/>
                        </label>
                    </div>
                    <h5 class="fs-sm text-center text-muted mt-2 mb-0">Gradient</h5>
                </div>
            </div>
        </div>

        <!-- Sidenav Color -->
        <div class="p-3 border-bottom border-dashed" id="sidenav-color">
            <h5 class="mb-3 fw-bold">Sidenav Color</h5>
            <div class="row g-3">
                <div class="col-4" id="sidenav-color-light">
                    <div class="form-check sidebar-setting card-radio">
                        <input class="form-check-input" id="layout-sidenav-color-light" name="data-menu-color" type="radio" value="light"/>
                        <label class="form-check-label p-0 w-100" for="layout-sidenav-color-light">
                            <img alt="Light" class="img-fluid" src="{{ config.ASSETS_ROOT }}/images/layouts/sidenav-color-light.png"/>
                        </label>
                    </div>
                    <h5 class="fs-sm text-center text-muted mt-2 mb-0">Light</h5>
                </div>
                <div class="col-4" id="sidenav-color-dark">
                    <div class="form-check sidebar-setting card-radio">
                        <input class="form-check-input" id="layout-sidenav-color-dark" name="data-menu-color" type="radio" value="dark"/>
                        <label class="form-check-label p-0 w-100" for="layout-sidenav-color-dark">
                            <img alt="Dark" class="img-fluid" src="{{ config.ASSETS_ROOT }}/images/layouts/sidenav-color-dark.png"/>
                        </label>
                    </div>
                    <h5 class="fs-sm text-center text-muted mt-2 mb-0">Dark</h5>
                </div>
                <div class="col-4" id="sidenav-color-gray">
                    <div class="form-check sidebar-setting card-radio">
                        <input class="form-check-input" id="layout-sidenav-color-gray" name="data-menu-color" type="radio" value="gray"/>
                        <label class="form-check-label p-0 w-100" for="layout-sidenav-color-gray">
                            <img alt="Gray" class="img-fluid" src="{{ config.ASSETS_ROOT }}/images/layouts/sidenav-color-gray.png"/>
                        </label>
                    </div>
                    <h5 class="fs-sm text-center text-muted mt-2 mb-0">Gray</h5>
                </div>
                <div class="col-4" id="sidenav-color-gradient">
                    <div class="form-check sidebar-setting card-radio">
                        <input class="form-check-input" id="layout-sidenav-color-gradient" name="data-menu-color" type="radio" value="gradient"/>
                        <label class="form-check-label p-0 w-100" for="layout-sidenav-color-gradient">
                            <img alt="Gradient" class="img-fluid" src="{{ config.ASSETS_ROOT }}/images/layouts/sidenav-color-gradient.png"/>
                        </label>
                    </div>
                    <h5 class="fs-sm text-center text-muted mt-2 mb-0">Gradient</h5>
                </div>
                <div class="col-4" id="sidenav-color-image">
                    <div class="form-check sidebar-setting card-radio">
                        <input class="form-check-input" id="layout-sidenav-color-image" name="data-menu-color" type="radio" value="image"/>
                        <label class="form-check-label p-0 w-100" for="layout-sidenav-color-image">
                            <img alt="Image" class="img-fluid" src="{{ config.ASSETS_ROOT }}/images/layouts/sidenav-color-image.png"/>
                        </label>
                    </div>
                    <h5 class="fs-sm text-center text-muted mt-2 mb-0">Image</h5>
                </div>
            </div>
        </div>

        <!-- Sidebar Size -->
        <div class="p-3 border-bottom border-dashed" id="sidenav-size">
            <h5 class="mb-3 fw-bold">Sidebar Size</h5>
            <div class="row g-3">
                <div class="col-4" id="sidenav-size-default">
                    <div class="form-check sidebar-setting card-radio">
                        <input class="form-check-input" id="layout-sidenav-size-default" name="data-sidenav-size" type="radio" value="default"/>
                        <label class="form-check-label p-0 w-100" for="layout-sidenav-size-default">
                            <img alt="Default" class="img-fluid" src="{{ config.ASSETS_ROOT }}/images/layouts/sidenav-size-default.png"/>
                        </label>
                    </div>
                    <h5 class="mb-0 text-center text-muted mt-2">Default</h5>
                </div>
                <div class="col-4" id="sidenav-size-compact">
                    <div class="form-check sidebar-setting card-radio">
                        <input class="form-check-input" id="layout-sidenav-size-compact" name="data-sidenav-size" type="radio" value="compact"/>
                        <label class="form-check-label p-0 w-100" for="layout-sidenav-size-compact">
                            <img alt="Compact" class="img-fluid" src="{{ config.ASSETS_ROOT }}/images/layouts/sidenav-size-compact.png"/>
                        </label>
                    </div>
                    <h5 class="mb-0 text-center text-muted mt-2">Compact</h5>
                </div>
                <div class="col-4" id="sidenav-size-condensed">
                    <div class="form-check sidebar-setting card-radio">
                        <input class="form-check-input" id="layout-sidenav-size-condensed" name="data-sidenav-size" type="radio" value="condensed"/>
                        <label class="form-check-label p-0 w-100" for="layout-sidenav-size-condensed">
                            <img alt="Condensed" class="img-fluid" src="{{ config.ASSETS_ROOT }}/images/layouts/sidenav-size-condensed.png"/>
                        </label>
                    </div>
                    <h5 class="mb-0 text-center text-muted mt-2">Condensed</h5>
                </div>
                <div class="col-4" id="sidenav-size-on-hover">
                    <div class="form-check sidebar-setting card-radio">
                        <input class="form-check-input" id="layout-sidenav-size-small-hover" name="data-sidenav-size" type="radio" value="on-hover"/>
                        <label class="form-check-label p-0 w-100" for="layout-sidenav-size-small-hover">
                            <img alt="On Hover" class="img-fluid" src="{{ config.ASSETS_ROOT }}/images/layouts/sidenav-size-on-hover.png"/>
                        </label>
                    </div>
                    <h5 class="mb-0 text-center text-muted mt-2">On Hover</h5>
                </div>
                <div class="col-4" id="sidenav-size-on-hover-active">
                    <div class="form-check sidebar-setting card-radio">
                        <input class="form-check-input" id="layout-sidenav-size-small-hover-active" name="data-sidenav-size" type="radio" value="on-hover-active"/>
                        <label class="form-check-label p-0 w-100" for="layout-sidenav-size-small-hover-active">
                            <img alt="On Hover Show" class="img-fluid" src="{{ config.ASSETS_ROOT }}/images/layouts/sidenav-size-on-hover-active.png"/>
                        </label>
                    </div>
                    <h5 class="mb-0 fs-base text-center text-muted mt-2">On Hover - Show</h5>
                </div>
                <div class="col-4" id="sidenav-size-offcanvas">
                    <div class="form-check sidebar-setting card-radio">
                        <input class="form-check-input" id="layout-sidenav-size-offcanvas" name="data-sidenav-size" type="radio" value="offcanvas"/>
                        <label class="form-check-label p-0 w-100" for="layout-sidenav-size-offcanvas">
                            <img alt="Offcanvas" class="img-fluid" src="{{ config.ASSETS_ROOT }}/images/layouts/sidenav-size-offcanvas.png"/>
                        </label>
                    </div>
                    <h5 class="mb-0 text-center text-muted mt-2">Offcanvas</h5>
                </div>
            </div>
        </div>

    </div>

    <div class="offcanvas-footer border-top p-3 text-center">
        <div class="row justify-content-center">
            <div class="col-6">
                <button class="btn btn-danger fw-semibold py-2 w-100" id="reset-layout" type="button">
                    <i class="me-2 fs-md" data-lucide="refresh-ccw"></i> Reset
                </button>
            </div>
        </div>
    </div>
</div>
<!-- end offcanvas-->
