<script src="{{ config.ASSETS_ROOT }}/js/vendors.min.js"></script>
<script src="{{ config.ASSETS_ROOT }}/js/app.js?v=20260804a"></script>
<script src="{{ config.ASSETS_ROOT }}/js/sidenav-drilldown.js?v=20260706h"></script>
<script src="{{ config.ASSETS_ROOT }}/js/visual-refresh.js?v=20260804a"></script>
<script src="{{ config.ASSETS_ROOT }}/js/streamflow.js?v=20260830a"></script>
<script src="{{ config.ASSETS_ROOT }}/js/sticky-tables.js?v=20260729a"></script>
<script src="{{ config.ASSETS_ROOT }}/js/clipboard.js?v=20260730a"></script>
