<meta charset="utf-8">
<title>{{ title }} | OTC Tracker</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description"
      content="OTC Tracker is a modern, responsive We App. Ideal for building CRM, CMS, project management tools, and custom web applications with a clean UI, flexible layouts, and rich features.">
<meta name="keywords"
      content="OTC Tracker, admin dashboard, responsive admin, CRM dashboard, CMS admin, web app UI, admin theme, premium admin template">
<meta name="author" content="JPMorgan Chase">

<!-- App favicon 
<link rel="shortcut icon" href="{{ config.ASSETS_ROOT }}/images/favicon.ico">-->
