{# Os estilos comuns das cinco Tools. A CENTRALIZAÇÃO da tabela fica no
   <style> de cada página (o check_table_center lê o template, não isto). #}
<link href="{{ config.ASSETS_ROOT }}/plugins/datatables/dataTables.bootstrap5.min.css" rel="stylesheet" type="text/css" />
<link href="{{ config.ASSETS_ROOT }}/plugins/datatables/buttons.bootstrap5.min.css" rel="stylesheet" type="text/css" />
<link href="{{ config.ASSETS_ROOT }}/plugins/sweetalert2/sweetalert2.min.css" rel="stylesheet" type="text/css" />
<link href="{{ config.ASSETS_ROOT }}/css/tools.css?v={{ asset_v('css/tools.css') }}" rel="stylesheet" type="text/css" />
